@mixin flex(
  $align: null,
  $justify: null,
  $dir: null,
  $flex: null,
  $gap: null,
  $wrap: null
) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $dir;
  flex: $flex;
  gap: $gap;
  flex-wrap: $wrap;
}
